.card-container {
  width: 247px;
  height: 489px;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.card-user {
  display: flex;
  align-items: center;
  padding: 10px;
}
.card-user img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.picture img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.card-price-brand {
  display: flex;
  flex-direction: column;

  padding: 10px;
  font-size: 12px;
  line-height: 10px;
}

/* .€ {
  margin-right: 10px;
} */
