.header-container {
  width: 80%;
  margin: 0 auto;
}

.header-content {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
.logoInput {
  display: flex;
  flex-direction: row;
}

.vintedlogo {
  width: 80px;
  margin-right: 30px;
}

.input {
  background-color: #f5f6f7;
}
.balise-input {
  width: 300px;
  border: none;
  height: 30px;
  background-color: #f5f6f7;
  font-size: 16px;
  border: 5px;
}
.boutton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.boutton-header {
  display: flex;
  align-items: center;
  width: 130px;
  height: 30px;
  padding: 2px;
  color: #2db1bb;
  border: 1px solid #2db1bb;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 14px;
  justify-content: center;
  cursor: pointer;
}

.boutton-header-deconnecter {
  display: flex;
  align-items: center;
  width: 136px;
  height: 36px;
  padding: 2px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 14px;
  justify-content: center;
  cursor: pointer;
}

.vendre {
  text-align: center;
  width: 136px;
  height: 36px;
  padding: 2px;
  color: #fff;
  background-color: #2db1bb;
  border: none;
  margin-left: 30px;
  border-radius: 5px;
  font-size: 14px;
}

/* .input  {
  width: 500px;
  margin-right: 30px;
} */

.image-dechire img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  /* background-color: rgb(209, 175, 240); */
}
